<%- include('partials/head'); -%>
<%- include('partials/top-menu'); -%>      
<%- include('partials/left-menu'); -%> 
                    
    <h3><%=title%></h3>

<%- include('partials/footer'); -%> 