<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ID: <%= project.id %></h5>
                <p class="card-text"><strong>Название:</strong> <%= project.name %></p>
                <p class="card-text"><strong>Создан:</strong> <%= new Date(project.createdAt).toLocaleDateString('ru-RU') %></p>
               
                <!-- Выпадающий список для статуса -->
                <form id="status-form">
                    <div class="mb-3">
                        <label for="project-description" class="form-label">Описание</label>
                        <textarea class="form-control" id="project-description" rows="3"><%= project.description%></textarea>
                      </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Статус:</label>
                        <select id="status" name="status" class="form-select" required>
                            <option value="Новий" <%= project.status === 'Новий' ? 'selected' : '' %>>Новый</option>
                            <option value="В работе" <%= project.status === 'В работе' ? 'selected' : '' %>>В работе</option>
                            <option value="Завершен" <%= project.status === 'Завершен' ? 'selected' : '' %>>Завершен</option>
                            <option value="Завершен" <%= project.status === 'Шаблон' ? 'selected' : '' %>>Шаблон</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </form>

                <!-- Дополнительная информация -->
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('status-form').addEventListener('submit', async function(event) {
        event.preventDefault(); // Предотвращаем стандартное поведение формы
    
        const status = document.getElementById('status').value;
        const projectId = '<%= project.id %>'; // Получаем ID проекта из шаблона
        const description = document.getElementById('project-description').value;
    
        try {
            const response = await fetch(`/api/projects/${projectId}/status`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ status,description })
            });
    
            if (response.ok) {
                // Обновление статуса успешно
                window.location.reload(); // Перезагружаем страницу для отображения обновленного статуса
            } else {
                // Ошибка при обновлении статуса
                const errorData = await response.json();
                alert(`Ошибка: ${errorData.message}`);
            }
        } catch (error) {
            console.error('Ошибка при обновлении статуса:', error);
            alert('Ошибка при обновлении статуса');
        }
    });
    </script>